// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }

@keyframes crtFlicker {
  0% { opacity: 1; }
  50% { opacity: 0.9; }
  100% { opacity: 1; }
}

.logo {
  z-index: 1;
  width: 65%;
  filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.8), -1px 0px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(0, 0, 0, 0.8), 0px -1px 0px rgba(0, 0, 0, 0.8), 2px 2px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.3), 4px 4px 2px rgba(0, 0, 0, 0.2), -4px -4px 2px rgba(0, 0, 0, 0.2));
  animation: crtFlicker 1s linear infinite alternate; /* Animation for flicker */
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: rgb(0, 0, 0);
  /*background: radial-gradient(circle at center, #ffffff 0%, #000000 100%);
  image-rendering: pixelated; /* Apply pixelation */
  /*filter: blur(20px);  Adjust the blur radius for the desired pixel size */
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow: wrap; 
}
a {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.boxed-text {
  color: rgb(0, 0, 0);
}

.limbo-text {
  text-shadow:
    /* Intense scanlines and glow */
    1px 0px 0px rgba(0, 0, 0, 0.8),
    -1px 0px 0px rgba(0, 0, 0, 0.8),
    0px 1px 0px rgba(0, 0, 0, 0.8),
    0px -1px 0px rgba(0, 0, 0, 0.8),
    /* Additional shadow layers for depth */
    2px 2px 1px rgba(0, 0, 0, 0.3),
    -2px -2px 1px rgba(0, 0, 0, 0.3),
    4px 4px 2px rgba(0, 0, 0, 0.2),
    -4px -4px 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255); /* Set your desired text color */
  animation: crtFlicker 1s linear infinite alternate; /* Animation for flicker */
}


#colour {
  /*background-color: rgb(250, 164, 34);*/
}

#background {
  position: fixed;
  filter: invert(1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
}

.post-meta { text-align: right; }
h1{
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}
h2, h3, h4, h5, h6 { 
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 3rem; }

hr { margin: 2rem 0; }

p { 
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  margin: 1rem 0; }

ul, ol {list-style: none; }

li {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0.4rem 0; }

*:target { background: darkgrey; }

.w {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem 2rem;
  z-index: 1;
}
#content {
    background-color: rgba(255, 255, 255, 0.5)
  }
hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}